.details-container {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
}
.details-container h3 {
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.details-container div {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 16px;
  color: #fff;
}
.details-container div p {
  font-family: var(--font-main);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
